body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black';
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 4rem;
  line-height: 1.5;
  color: #fff;
  margin-top: 50px;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  text-align: left;
}

#title .nav-item {
  text-align: right;
}

/* Containers */
.container-fluid {
  padding: 3% 15% 7%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #ffffff;
}

/* Navigation Bar */
.collapse-navbar-collapse {
  margin-right: 650px;
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
  word-spacing: 200px;
  padding: 0 15 0 15;
}

.navbar-brand {
  font-size: 2.5rem;
  font-style: bold;
  font-family: "Ubuntu";
}

.navbar-nav {
margin-left: 75%;
line-height: 1.5;
font-size: 1.2rem;
}

.download-button {
  margin-right: auto;
}

.iphone6 {
  transform: rotate(25deg);
  width: 22%;
  padding-top: 5%;
  position: absolute;
  left: 57%;
}

/* Features Section  */
.feature-title {
  font-size: 2.5rem;
}

.icons {
  color: #ef8172;
  margin-bottom: 25px;
}

.icons:hover {
  color: #ff4c68;
}

#features {
  padding: 7% 15%;
  position: relative;
}

.feuture-box {
  padding: 5%;
}

/* Testemonials Section */
#testimonials {
  color: #ffffff;
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 5%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 0 15px 15px 50px;
}

/* Pricing Section */
#pricing {
  padding: 2%;
}

.price-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 2% 3%;
}

/* Call to Section */
#cta {
  padding: 100px 0 100px 0;
}

.btn {
  font-family: "Montserrat";
  margin: 40px 20px 20px 20px;
}

/* Footer Section */
#footer {
  padding: 5% 15%;
}

.icons-smm {
  margin: 20px 10px;
}

/* CSS Media */
@media (max-width: 1030px) {
  #title {
    text-align: center;
  }

  .iphone6 {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
